@charset 'utf-8';

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden; /*스크롤을 만들지 않을 것임 */
    color : rgb(29,29,31);
    letter-spacing: -0.05em; /*자간 설정*/
    background: white;
}

.slider{
    width : 10%;
    height : 100px;
    background-color: rgb(29,29,31);
    position: fixed;
    top: 50%;
    left: 45%;

}

.floor{
    width : 30%;
    height: 2000px;
    background-color: gray;
    margin: 0 auto;
}

.droparea{
    width: 100%;
    height: 1000px;
    background-color: white;

}