@charset 'utf-8';

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden; /*스크롤을 만들지 않을 것임 */
    color : rgb(29,29,31);
    letter-spacing: -0.05em; /*자간 설정*/
    background: rgba(82, 192, 226, 1);
}

.infoboard{
    position: fixed;
    width: 100%;
    height: 20px;
    z-index: 10;
}

.infoboardcontents{
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    justify-content: space-between;
}

.beach{
    width: 100%;
    height: 15vh;
    background-color: rgba(224, 205, 154, 1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.slider{
    width: 20%;
    height: 10vh;
    background-color: rgb(29,29,31);
    position: fixed;
    top: 15%;
    left: 40%;
    z-index: 3;
}

.floor{
    width: 30%;
    height: 350vh;
    background-color: gray;
    margin: 0 auto;
}

.droparea{
    width: 100%;
    height: 1000px;
}